body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  
  }
  
  section{
    /* background-color: darkslategray; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .wrapper{
    width: 70%;
    /* height: 350px; */
    position: relative;
  }
  
  #prev{
    cursor: pointer;
    color:green;
    font-size: 2rem;
    left: -16px;
    top: 45%;
    position: absolute;
    z-index: 1;
  }
  
  #next{
    cursor: pointer;
    color: green;
    font-size: 2rem;
    right: -16px;
    top: 45%;
    position: absolute;
  }
  .wrapper .carousel{
    display: flex;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    /* background-color: red; */
  }
  
  
  
  

  .Image-Card {
    /* background-color: blue; */
    margin-right: 28px;
  }

  .trans-img{
    /* width:90%; */
    width: 300px;
  }
  
  .Trans-btn{
    border: none;
      width: 100%;
      outline: none;
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      background: #1A5D1A;
      color: white;
  }
  
  .Image-Card .Transport{
    padding-top: 40px;
  }
